/* northamerica continent color */
body
{
	font-family: 'Century Gothic', 'Georgia', 'Verdana', sans-serif;	
}

#header
{
	width: 1400px;
}

#top-left
{
	width: 1000px;
	padding: 10px;
	float: left;
}

#top-right
{
	width: 400px;
	padding: 10px;
	float: right;
}

#bottom
{
	width: 1200px;
	height: 600px;
	padding: 10px;
	float: left;
}

#events 
{
	float: left;
}

#map
{
	width: 800px;
	height: 400px;
}

#legend-map
{
	width: 200px;
	float: right;
	visibility: hidden;
}

#title
{
	font-size: 40px;
	color: #B44E3A;
}

#subtitle
{
	font-size: 20px;
	color: gray;
}

#links
{
	font-size: 20px;
	float: right;
}

a
{
	color: #DF8365;
}

.visualization-title
{
	float: left;
	font-size: 20px;
}
.text
{
	font-size: 15px;
}

#slider
{
	float: right;
}

#graph-config
{
	float: right;
	padding: 10px;
}

/**************
* graph.js
***************/

.axis,
.axis path,
.axis line {
  stroke: #000;
}

.line {
  stroke-width: 5px;
  fill: none;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  height: 20px;                 
  padding: 2px;             
  font: 14px 'Century Gothic', sans-serif;        
  background: white;   
  border: 2px;  
  border-color: gray;    
  pointer-events: none;         
}

