/* northamerica continent color */
body
{
	font-family: 'Century Gothic', 'Georgia', 'Verdana', sans-serif;	
}

#header
{
	width: 1400px;
}

#top-left
{
	width: 1000px;
	padding: 10px;
	float: left;
}

#top-right
{
	width: 400px;
	padding: 10px;
	float: right;
}

#bottom
{
	width: 1200px;
	height: 600px;
	padding: 10px;
	float: left;
}

#map
{
	width: 900px;
	height: 450px;
}

#legend-map
{
	width: 100px;
	float: right;
	visibility: hidden;
}

#legend-graph
{
	width: 100px;
	float: right;
	visibility: hidden;
}

#title
{
	font-size: 40px;
	color: #B44E3A;
}

#subtitle
{
	font-size: 20px;
	color: gray;
}

#links
{
	font-size: 20px;
	float: right;
}

a
{
	color: #DF8365;
}

.visualization-title
{
	float: left;
	font-size: 20px;
}
.text
{
	font-size: 15px;
}

#slider
{
	float: right;
}

#graph-config
{
	float: right;
	padding: 10px;
}

/**************
* graph.js
***************/

.axis path,
.axis line {
  stroke: #000;
  stroke-width: .5px;
}

.line1 {
  stroke: #3399CC;
  stroke-width: 5px;
  fill: none;
}

.line2 {
  stroke: #A00000;
  stroke-width: 5px;
  fill: none;
}

.verticalLine {
  stroke: gray;
  stroke-width: .5px;
  fill: none;
}